* {
  margin: 0;
  padding: 0;

}

html {
  background-color: white;
}

div.block {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: red;
}

div.pastedblock {
  position: absolute;
}

div.palette {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: inline-block;
}

div.sel {
  width: 35px;
  height: 35px;
  border: 1px solid #ededed;
}
